{% load static %}
<div class="widget widget-player">
    <h3>🎧 Tocando agora</h3>
    <iframe
        src="https://open.spotify.com/embed/track/5ocSQW5sIUIOFojwXEz9Ki?theme=0"
        frameborder="0"
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy">
    </iframe>
</div>

<div class="widget widget-criadora">
    <h3>Conheça a criadora ♡</h3>
    <div class="perfil-criadora">
        <img src="{% static 'blog/img/minha-foto.jpeg' %}" alt="Foto de Giovanna" class="foto-redonda">
    </div>
    <div class="bio-criadora">
        <h4>Giovanna</h4>
        <p><em>
            Giovanna, 22 anos, estudante de Engenharia de Software na Universidade Severino Sombra. 
            Criadora deste pequeno cantinho da internet, um espaço 100% meu, livre das limitações das redes sociais, 
            onde transformo pensamentos soltos, teorias da madrugada e descobertas em conversas reais. Cultura pop, 
            música, filmes, animes, livros e um pouquinho de mim em cada post. ✨

        📸 @giovannarcha_
        </em></p>
    </div>
</div>