{% extends 'blog/base.html' %}
{% block content %}
    {% if categoria_filtrada %}
        <h2>Categoria: {{ categoria_filtrada.nome }}</h2>
    {% else %}
        <h2>Últimos posts</h2>
    {% endif %}
    {% for post in posts %}
        <article>
            <h3><a href="{% url 'detalhe_post' post.slug %}">{{ post.titulo }}</a></h3>
            <p>{{ post.categoria.nome }} — por {{ post.autor.username }}</p>
        </article>
    {% empty %}
        <p>Nenhum post publicado ainda.</p>
    {% endfor %}
{% endblock %}